@font-face{
    font-family: 'PublicSans';
    src: url('../fonts/PublicSans-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}


@font-face{
    font-family: 'PublicBold';
    src: url('../fonts/PublicSans-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family: 'Display';
    src: url('../fonts/DMSerifDisplay-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Roboto';
    src: url('../fonts/RobotoMono-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}