*{
    margin: 0;
    padding: 0;
}
body{
    background: #EDF3F8;
    font-family: "PublicSans";
}

.container{
    width: 1200px;
    margin: 0 auto;
}
ul{
    list-style: none;
}


a{
    text-decoration: none;
    color: #000;
}

span{
    font-family: PublicBold;
}
button{
    width: 173px;
    height: 50px;
    background: #BA4270;
box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
border-radius: 24px;
border: 3px solid #BA4270 ;
font-family: 'PublicBold';
font-size: 15px;
line-height: 20px;
letter-spacing: -0.115385px;

color: #FBFCFE;
}
.position{
    position: relative;
}
