.hero {
  &__right__image {
    position: relative;
    z-index: 45;
  }
}

.black__circle {
  position: absolute;
  right: 0;
  top: 0;
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.res__black__img {
  position: absolute;
  z-index: -100;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: none;
  @media screen and (max-width: 768px) {
    display: block;
  }
}

.hero {
  display: flex;
  justify-content: space-between;

  &__left {
    &__title {
      width: 95%;
      margin-top: 196px;
      font-family: "DM Serif Display";
      font-style: normal;
      font-weight: 400;
      font-size: 72px;
      line-height: 72px;
      letter-spacing: -0.553846px;

      color: #36536b;

      @media screen and (max-width: 900px) {
        font-size: 60px;
      }
    }
    &__form {
      margin-top: 50px;
      position: relative;
      max-width: 445px;
    }
    &__input {
      width: 100%;
      padding: 0 12rem 0 1rem;
      height: 48px;
      // background: #BA4270;
      box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
      border-radius: 24px;
      border: none;

      &:focus {
        outline: none;
      }
    }
    &__btn {
      position: absolute;
      margin-top: -1px;
      top: 0;
      right: 0;
      border: 3px solid #ba4270;
    }
    &__link {
      display: block;
      margin-top: 20px;
      margin-left: 40px;
      font-family: "PublicSans";
      font-size: 15px;
      line-height: 18px;

      color: #6c8294;
    }
  }
  &__right {
    margin-top: 71px;
  }
}
.icons__box {
  margin-top: 100px;
}

.icons-wrapper {
  padding: 100px 0;
  background: url("../../images/icons.png");
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (max-width: 768px) {
    margin-top: 4rem;
  }
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__left {
    width: 50%;
    @media screen and (max-width: 1200px) {
      width: 60%;
      margin-top: 4rem;
      text-align: center;
    }
    @media screen and (max-width: 400px) {
      width: 100%;
      padding: 0 0.4rem;
    }
    &__title {
      font-family: "Display";
      font-style: normal;
      font-weight: 400;
      font-size: 48px;
      line-height: 56px;

      letter-spacing: -0.369231px;

      color: #fbfcfe;

      @media screen and (max-width: 500px) {
        font-size: 35px;
      }
    }
    &__text {
      color: #fff;
      margin: 30px 0;

      font-family: "PublicSans";
      font-size: 15px;
      line-height: 28px;

      color: #fbfcfe;

      mix-blend-mode: normal;
      opacity: 0.7;
    }
    &__btn {
      background-color: transparent;
      border: 2px solid #fff;
    }
  }

  @media screen and (max-width: 1200px) {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.res-right {
  width: 95% !important;

  @media screen and (max-width: 880px) {
    width: 60% !important;
    text-align: center;
    margin: auto;
  }
  @media screen and (max-width: 500px) {
    width: 95% !important;
  }
}
.worn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;

  @media screen and (max-width: 880px) {
    flex-direction: column;
  }

  &__right__image {
    width: 100%;
  }

  &__box {
    background: #2e3f4d;
    border-radius: 8px;

    &__right__content {
      width: 445px;

      @media screen and (max-width: 880px) {
        text-align: center;
        margin-top: 1rem;
      }
      @media screen and (max-width: 480px) {
        width: 100%;
      }

      &__text {
        margin-top: 25px;
        font-family: "PublicSans";
        font-size: 15px;
        line-height: 28px;

        color: #6c8294;
      }

      &__title {
        font-family: "Display";

        font-size: 48px;
        line-height: 56px;
        /* identical to box height, or 117% */

        letter-spacing: -0.369231px;

        color: #36536b;

        @media screen and (max-width: 480px) {
          font-size: 2.5rem;
        }
      }
    }

    &__big {
      // width: 381px;
      // height: 220px;
      padding: 32px;
      margin-top: 12px;
      background: #1b262f;
      box-shadow: 25px 25px 80px rgba(54, 83, 107, 0.300727);
      border-radius: 0 0 8px 8px;
      &__text {
        font-family: "Roboto";
        font-size: 13px;
        line-height: 20px;
        color: #fff;
        &__code {
          font-family: "Roboto";
          font-size: 13px;
          line-height: 25px;
          margin-left: 30px;
        }
      }
    }
  }
  &__line {
    display: flex;
    margin-left: 30px;
    gap: 6.5px;
  }
  &__circle1 {
    width: 16px;
    height: 16px;
    background: #ba4270;
    border-radius: 50%;
    margin-top: 12px;
  }
  &__circle2 {
    width: 16px;
    height: 16px;
    background: #527695;
    border-radius: 50%;
    margin-top: 12px;
  }
  &__circle3 {
    width: 16px;
    height: 16px;
    background: #36536b;
    border-radius: 50%;
    margin-top: 12px;
  }
}
.worn:nth-child(even) {
  display: flex;
  flex-direction: row-reverse;
  @media screen and (max-width: 880px) {
    flex-direction: column;
  }
}
.half {
  position: relative;
  padding-top: 9rem;
  &__image {
    position: absolute;
    right: 0;
    top: 350px;
  }
}

.highlights {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 150px;

  .highlight {
    &__img {
      display: block;
     text-align: center;
      margin: auto;
    }
    &__title {
      font-family: "PublicBold";
      margin-top: 30px;
      margin-bottom: 20px;

      font-size: 18px;
      line-height: 25px;

      text-align: center;
      letter-spacing: -0.138462px;

      color: #36536b;
    }
    &__text {
      width: 350px;
      font-family: "PublicSans";

      font-size: 15px;
      line-height: 25px;
      text-align: center;
      letter-spacing: -0.115385px;

      color: #6c8294;
    }
  }
}

.last {
  display: flex;
  margin-top: 150px;
  position: relative;
  justify-content: space-between;
  align-items: center;
  &__title {
    font-family: "Display";

    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.369231px;

    color: #36536b;
  }
  &__input {
    position: absolute;
    margin-top: -40px;
    margin-left: 310px;
    width: 400px;
  }
  &__btn {
    position: absolute;
    margin-top: -41px;
    margin-left: 460px;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 680px;
  }
  .hero {
    display: flex;
    flex-direction: column-reverse;


    &__left {
      &__title {
        margin-top: -20px;
        font-family: "Display";
        font-size: 40px;
        line-height: 56px;
        text-align: center;
        letter-spacing: -0.369231px;

        color: #36536b;
      }
      &__form {
        margin-top: 50px;
        margin: auto;
      }
      &__input {
        
        box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
        border-radius: 24px;
        border: none;
      }
      &__link {
        display: block;
        margin-top: 20px;
        font-family: "PublicSans";
        font-size: 15px;
        line-height: 18px;
        text-align: center;
        color: #6c8294;
      }
    }
    &__right {
      margin-top: 71px;
      &__image {
        margin-top: -68px;
        z-index: 100;
        display: block;
        margin: 0 auto;
      }
    }
  }


  .res-image-icons {
    width: 100%;
  }

  
  .highlights {
    display: flex;
    justify-content: space-between;
    
    .highlight {
      
      &__title {
        font-family: "PublicBold";
        margin-top: 30px;
        margin-bottom: 20px;

        font-size: 18px;
        line-height: 25px;

        text-align: center;
        letter-spacing: -0.138462px;

        color: #36536b;
      }
      &__text {
        width: 220px;
        font-family: "PublicSans";

        font-size: 15px;
        line-height: 25px;
        text-align: center;
        letter-spacing: -0.115385px;

        color: #6c8294;
      }
    }
  }
  .last {
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    position: relative;
    &__title {
      text-align: left;
      font-family: "Display";

      font-size: 48px;
      line-height: 56px;
      letter-spacing: -0.369231px;

      color: #36536b;
    }
    &__input {
      position: absolute;
      margin-top: -10px;
      margin-left: 80px;
      width: 400px;
    }
    &__btn {
      position: absolute;
      margin-top: -11px;
      margin-left: -130px;
    }
  }
}
@media screen and 
(max-width: 660px) {
  .highlights{
    flex-direction: column;
    text-align: center;
    .highlight{
      margin: auto;
      margin-bottom:2rem;
    }
  }
  
}
@media screen and (max-width: 660px) {
  .last__title{
    text-align: center;
  }  
}

@media only screen and (max-width: 450px) {
  .hero {
    &__right__image {
      width: 100%;
    }
    &__left__btn {
      position: static;
      width: 100%;
      margin-top: 1rem;
    }
    &__left__input {
      padding: 0 1rem 0 1rem;
    }
  }
}

.last-left-form{
  margin-top: 0 !important;
  @media screen and (max-width: 660px) {
    margin-top: 1rem !important;
  }
}
