footer {
  padding: 1.5rem 0;
  background: url("../../images/footer.png");
  background-size: cover;
  margin-top: 100px;
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @media screen and (max-width: 670px) {
      flex-direction: column;
    }

    &__nav-wrapper {
      display: flex;
      align-items: center;

      @media screen and (max-width: 670px) {
        flex-direction: column;
        align-items: center;
      }
    }
    &__item {
      color: #fbfcfe;
    }

    .header__list {
      display: flex;
      margin-left: 65px;
      gap: 40px;

      @media screen and (max-width: 670px) {
        flex-direction: column;
        margin: 2rem 0;
        text-align: center;
      }
    }
  }
}

