footer{
    margin-top: 100px;
    .footer{
        &__img{
            position: absolute;
            margin-top: -75px;
        }
        &__list{
            position: absolute;
            margin-top: -65px;
            margin-left: 250px;
        }
        &__item{
            color: #FBFCFE;
        }
        &__social{
            position:absolute;
            margin-top: -65px;
            right: 200px;
        }
    }
}


@media only screen and (max-width: 768px) {

    footer{
    margin-top: 100px;
    .footer{
        &__img{
            position: absolute;
            margin-top: -75px;
        }
        &__list{
            position: absolute;
            margin-top: -65px;
            margin-left: 223px;
        }
        &__item{
            color: #FBFCFE;
        }
        &__social{
            position:absolute;
            margin-top: -65px;
            right: 78px;
        }
    }
}
}